<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>

        Editar Destinos

    </title>

    <link rel="stylesheet" href="/css/componentes/reset.css">
    <link rel="stylesheet" href="/css/componentes/variables.css">
    <link rel="stylesheet" href="/css/componentes/layout.css">
    <link rel="stylesheet" href="/css/componentes/cards.css">
    <link rel="stylesheet" href="/css/componentes/formularios.css">
    <link rel="stylesheet" href="/css/componentes/botones.css">
    <link rel="stylesheet" href="/css/componentes/utilidades.css">

    <link
        rel="stylesheet"
        href="/css/layoutInstitucional.css">
</head>

<body>
    <div class="logoUnidad">

        <img
            src="/images/escudo.jpeg"
            alt="Escudo Unidad">

    </div>

<div class="contenedor">

    <div class="card">

        <h1>

            ACTUALIZAR DESTINOS

        </h1>

        <form
            id="formDestino"
            class="formulario">

            <div class="campo">

                <label>Grado</label>

                <input
                    type="text"
                    id="gradoMostrar"
                    readonly>

            </div>

            <div class="campo">

                <label>Nombre Completo</label>

                <input
                    type="text"
                    id="nombreMostrar"
                    readonly>

            </div>

            <div class="campo">

                <label>

                    DESTINO 2024

                </label>

                <input
                    type="text"
                    id="destino2024">

            </div>

            <div class="campo">

                <label>

                    DESTINO 2025

                </label>

                <input
                    type="text"
                    id="destino2025">

            </div>

            <button
                type="submit"
                class="btnGuardar">

                GUARDAR CAMBIOS

            </button>

        </form>

    </div>

</div>

<script src="/js/editarDestino.js"></script>
<script src="/js/dashboardButton.js"></script>

</body>

</html>