<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>

        Destinos Anteriores

    </title>

    <link
            rel="stylesheet"
            href="/css/sistema.css">

        <link
            rel="stylesheet"
            href="/css/layoutInstitucional.css">

        <link
            rel="stylesheet"
            href="/css/destinosAnteriores.css">
</head>

<body>
    <div class="logoUnidad">

        <img
            src="/images/escudo.jpeg"
            alt="Escudo Unidad">

    </div>

    <div class="contenedor">

        <h1>

            DESTINOS ANTERIORES DEL PERSONAL

        </h1>

        <table id="tablaDestinos">

            <thead>

                <tr>

                    <th>

                        GRADO

                    </th>
                    <th>

                        ARMA

                    </th>
                    <th>

                        NOMBRE COMPLETO

                    </th>
                    <th>

                        AÑO EGRESO

                    </th>

                    <th>

                        ANTIGÜEDAD GRADO

                    </th>
                    

                    

                    <th>

                        DESTINO 2024

                    </th>

                    <th>

                        DESTINO 2025

                    </th>

                    <th>

                        ACCIONES

                    </th>

                </tr>

            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

    <script
        src="/js/destinosAnteriores.js">

    </script>
<script src="/js/dashboardButton.js"></script>
</body>

</html>