<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>

        Configuración del Sistema

    </title>

    <link
        rel="stylesheet"
        href="/css/sistema.css">

    <link
        rel="stylesheet"
        href="/css/configuracion.css">

    <link
        rel="stylesheet"
        href="/css/layoutInstitucional.css">


</head>

<body>
    <div class="logoUnidad">

        <img
            src="/images/escudo.jpeg"
            alt="Escudo Unidad">

    </div>

    <div class="contenedor">

        <div class="card">

            <h1 class="tituloModulo">

                CONFIGURACIÓN DEL SISTEMA

            </h1>

            <hr class="hrSistema">

            <table class="tablaConfig">

                <thead>

                    <tr>

                        <th>Módulo</th>

                        <th>Estado</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>Registro de Usuarios</td>

                        <td>

                            <label class="switch">

                                <input
                                    type="checkbox"
                                    id="registroUsuarios">

                                <span class="slider"></span>

                            </label>

                        </td>

                    </tr>

                    <tr>

                        <td>Registro de Personal</td>

                        <td>
                            <label class="switch">

                                <input
                                type="checkbox"
                                id="registroPersonal">

                                <span class="slider"></span>

                            </label>
                            

                        </td>

                    </tr>
                    <tr>

                        <td>Buscar Personal</td>

                        <td>

                            <label class="switch">

                                <input
                                    type="checkbox"
                                    id="buscarPersonal">

                                <span class="slider"></span>

                            </label>

                        </td>

                    </tr>
                    <tr>

                        <td>Destinos Anteriores</td>

                        <td>

                            <label class="switch">

                                <input
                                    type="checkbox"
                                    id="destinos">

                                <span class="slider"></span>

                            </label>

                        </td>

                    </tr>
                    <tr>

                        <td>Bajas Médicas</td>

                        <td>

                            <label class="switch">

                                <input
                                    type="checkbox"
                                    id="bajas">

                                <span class="slider"></span>

                            </label>

                        </td>

                    </tr>
                    <tr>

                        <td>Consulta General</td>

                        <td>

                            <label class="switch">

                                <input
                                    type="checkbox"
                                    id="consultaGeneral">

                                <span class="slider"></span>

                            </label>

                        </td>

                    </tr>
                    <tr>

                        <td>Vacaciones</td>

                        <td>
                            <label class="switch">

                                <input
                                type="checkbox"
                                id="vacaciones">
                                <span class="slider"></span>

                            </label>
                            

                        </td>

                    </tr>

                    <tr>

                        <td>Licencias</td>

                        <td>
                            <label class="switch">

                                <input
                                type="checkbox"
                                id="licencias">

                                <span class="slider"></span>

                            </label>
                            

                        </td>

                    </tr>
                                        
                    
                </tbody>

            </table>

            <br>

            <button

                class="btn btnGuardar"

                id="guardarConfiguracion">

                Guardar Configuración

            </button>

        </div>

    </div>

    <script src="/js/configuracion.js"></script>

    <script src="/js/dashboardButton.js"></script>

</body>

</html>