<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>

        Ficha Personal

    </title>

    <!-- ===================== -->
    <!-- ESTILOS DE LA FICHA -->
    <!-- ===================== -->

    <link
        rel="stylesheet"
        href="/css/fichaPersonal.css">

    <link
        rel="stylesheet"
        href="/css/layoutInstitucional.css">
</head>

<body>
    <div class="logoUnidad">

        <img
            src="/images/escudo.jpeg"
            alt="Escudo Unidad">

    </div>

    <!-- ===================== -->
    <!-- CONTENEDOR PRINCIPAL -->
    <!-- ===================== -->

    <div class="contenedor">

        <!-- ===================== -->
        <!-- ENCABEZADO -->
        <!-- ===================== -->

        <div class="encabezado">

            <h1>

                FICHA PERSONAL

            </h1>

            <!-- ===================== -->
            <!-- CABECERA DE FICHA -->
            <!-- ===================== -->

            <div class="cabecera-ficha">

                <!-- ===================== -->
                <!-- DATOS PRINCIPALES -->
                <!-- ===================== -->

                <div
                    id="datosEncabezado"
                    class="datos-principales">

                </div>

            </div>

        </div>

        <!-- ===================== -->
        <!-- BOTONES -->
        <!-- ===================== -->

        <div class="acciones">

            <button
                id="btnImprimir"
                class="btnAccion">

                IMPRIMIR

            </button>

            <button
                id="btnPDF"
                class="btnAccion">

                GENERAR FILIACIÓN

            </button>

        </div>


        <!-- ===================== -->
        <!-- CONTENIDO -->
        <!-- ===================== -->

        <div id="contenidoFicha">

        </div>

    </div>

    <!-- ===================== -->
    <!-- SCRIPT -->
    <!-- ===================== -->

    <script src="/js/fichaPersonal.js"></script>
    <script src="/js/dashboardButton.js"></script>
</body>

</html>